* {
  color: #222;
}

header {
  background: #111827;
  color: white;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.filtros {
  margin-bottom: 20px;
}

#buscador {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #2563eb;
  color: white;
}

th,
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background: #f3f4f6;
}

footer {
  text-align: center;
  padding: 20px;
  color: #666;
}

@media (max-width: 900px) {
  table {
    display: block;
    overflow-x: auto;
  }
}